<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Power consumption prediction </title>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
$(function () {
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: true
            }
        });
    
        var chart;
        $('#container').highcharts({
            chart: {
                type: 'spline',
                animation: Highcharts.svg, // don't animate in old IE
                marginRight: 10,
                events: {
                    load: function() {
    
                        // set up the updating of the chart each second
                        var series = this.series[0];
                        /*setInterval(function() {
                            var x = (new Date()).getTime(), // current time
                                y = Math.random();
                            series.addPoint([x, y], true, true);
                        }, 2000); //update in seconds*/
                    }
                }
            },
            title: {
                text: 'Energy Prediction and History '
            },
            xAxis: {
                title: {
                    text: 'Time'
                },
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: 'Energy Consumption [kW]'
                },
                plotLines: [{
                    value: 30000,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                        Highcharts.numberFormat(this.y, 2);
                }
            },
            legend: {
                enabled: true
            },
            exporting: {
                enabled: false
            },
            series: [{
					name: 'Past power consumption',
					data: (function() {
						var json = <%- initialPulse %>;
						var data = new Array(32);
						for(var i = 0 ; i < json.length ; i++) {
							data[i] = {
								x: new Date(json[i].date),
								y: json[i].power
							};
						}
						return data;
					})()
				}, {
					name: 'Forecasted power consumption',
					data: (function() {
						var json = <%- powerForecast %>;
						var data = new Array(64);
						for(var i = 0 ; i < json.length ; i++) {
							data[i] = {
								x: new Date(json[i].date),
								y: json[i].power
							};
						}
						return data;
					})()
				}
			]
        });
    });
    
});
		</script>
	</head>
	<body>
<script src="./js/highcharts.js"></script>
<script src="./js/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>

	</body>
</html>
